
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ the_title }}</title>

	<!-- note the special href for files in the Flask "static" folder -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <nav class="navbar navbar-expand-lg navbar-light bs-side-navbar" style="background-color:turquoise;">
        <a class="navbar-brand" href="#">Digest Africa</a>

<!--        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
<!--                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--                <span class="sr-only">Toggle navigation</span>-->
<!--                <span class="icon-bar">tghj</span>-->
<!--                <span class="icon-bar">tyhjjk</span>-->
<!--                <span class="icon-bar">thjjj</span>-->
<!--        </button>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Company <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Investors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Deals</a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--                        aria-haspopup="true" aria-expanded="false">-->
<!--                        Dropdown-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" href="#">Company</a>-->
<!--                        <a class="dropdown-item" href="#">Investors</a>-->
<!--                        <a class="dropdown-item" href="#">Deals</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--&lt;!&ndash;                        <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    <div class="container">

    </div>

</body>
</html>